<footer>
    <section class="social">
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-facebook-square"></i>
    </section>
    <section class="middle">bloggerspoint.com<br>Thank you for Visiting us. Come Again!<br>All rights are reserved by Bloggers Point</section>
    <section class="details">
            Bloggers Point<br><label>near Post office,<br>Satelite,Ahmedabad</label>
            <br>+12 432165<br><a href="mailto:bloggerspoint10@gmail.com">bloggerspoint10@gmail.com</a>
    </section>
</footer>
