body{
	height:100vh;
	margin:0;
	padding:0;
	font-family:calibri;
	font-size:2vw;
}
.main{
	width:30%;
	height:100%;
	font-family:freestyle script;
	display:flex;
}
.main img{
	height:90%;
	width:25%;
	margin:1.25%;
}
.main h1{
	font-weight:bolder;
	font-size:2.5em;
	margin-left:2%;
	margin-top:1%;
}
header nav{
	width:45%;
	height:100%;
	font-size:1.25em;
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin: 0 2%;
}
.social{
	width:25%;
	height:100%;
	font-size:1.25em;
	display:flex;
	justify-content:center;
	align-items:center;
}
.social i{
	margin:0 2%;
}

.head-bottom{
	height:2.5%;
	background-color:lightgrey;
	padding-left:10%;
	font-size:0.6em;
	font-weight:bolder;
}

.box{
	height:80%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

.box .slider{
	height:90%;
	width:90%;
	border:4px solid teal;
	background-color:teal;

}
.box #prew{
	background:teal;
	color:white;
	border:none;
	position:absolute;
	top:50%;
	left:4%;
	font-size:1em;
	cursor: pointer;
}
.box #nxt{
	background:teal;
	color:white;
	border:none;
	position:absolute;
	top:50%;
	left:94%;
	font-size:1em;
	cursor: pointer;
}
.box .slider img{
	height:100%;
	width:100%;
}

.slide-bottom{
	height:2%;
	width:70.5%;
	background-color:lightgrey;
}

.information{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;	
	height:60%;
	width:100%;
	/* /display:flex;	 */
	justify-content: center;
	align-items:center;
	background-color: lightgrey;
	padding-left:3%;
}

.information div{
	width:90%;
	padding-bottom:2%;
	background-color: white;
	margin:0 5%;
	font-size:1em;
	text-align:center;
}

.information div section{
	height:40%;
	width:80%;
	margin:0;
	margin-left:10%;
}

.information div i{
	font-size:0.70em;
	color :rgb(15, 53, 56);
}
.information div h1{
	color:teal;
	font-size:1em;
	margin:0%;
}

.information div h2{
	color:rgb(15, 53, 56);
	font-size:0.75em;
	margin:0%;
}

.information div p{
	margin:0 6%;
	font-size:0.5em;
}

.information a{
    text-decoration: none;
}

.information .button{
	height:20%;
	width:40%;
	background-color:rgb(5, 33, 34);
	color:white;
	font-size:0.7em;
	display:flex;
	justify-content:center;
	align-items:center;
}

/* All blogs css */
.allBlogs{
	display: grid;
	grid-template-columns: 22% 22% 22% 22%;
	grid-template-rows: repeat(3 ,450px);	
	/* grid-auto-rows: auto; */
	width:100%;
	/* /display:flex;	 */
	justify-content: center;
	align-items:center;
	background-color: lightgrey;
	grid-gap:1em;
	row-gap:0.5em;
}

.allBlogs div{
	height:80%;
	padding:2%;
	background-color: white;
	font-size:1em;
	text-align:center;
}

.allBlogs div section{
	height:40%;
	width:80%;
	margin:0;
	margin-left:10%;
}

.allBlogs div i{
	font-size:0.70em;
	color :rgb(15, 53, 56);
}
.allBlogs div h1{
	color:teal;
	font-size:1em;
	margin:0%;
}

.allBlogs div h2{
	color:rgb(15, 53, 56);
	font-size:0.75em;
	margin:0%;
}

.allBlogs div p{
	margin:0 6%;
	font-size:0.5em;
}

.allBlogs a{
    text-decoration: none;
}

.allBlogs .button{
	height:20%;
	width:40%;
	background-color:rgb(5, 33, 34);
	color:white;
	font-size:0.7em;
	display:flex;
	justify-content:center;
	align-items:center;
}

.info-bottom{
	height:10%;
}



footer{
	height :25%;
	background-color: teal;
	color:white;
	display:flex;	
	align-items:center;
}

footer .middle{
	height:100%;
	width:50%;
	text-align:center;
	font-size:0.7em;
	line-height:2.5;
}

footer .details{
	height:100%;
	width:20%;
	font-size:0.75em;
	text-align:right;
}
footer .details label{
	font-size:0.6em;
}